[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gitear"]
	path = gitear
	url = https://github.com/ixpantia/gitear
[submodule "googleErrorReportingR"]
	path = googleErrorReportingR
	url = https://github.com/ixpantia/googleerrorreportingr
[submodule "ixplorer"]
	path = ixplorer
	url = https://github.com/ixpantia/ixplorer
[submodule "lacrmr"]
	path = lacrmr
	url = https://github.com/ixpantia/lacrmr
[submodule "tapLock"]
	path = tapLock
	url = https://github.com/ixpantia/taplock
[submodule "tower"]
	path = tower
	url = https://github.com/ixpantia/tower
